.footer {
  color: white;
  display: flex;
  z-index: 2;
  align-items: center;
  padding: 10% 5% 5% 5%;
  justify-content: space-between;

  .footer-container {
    padding: 0;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  div {
    align-self: center;
    justify-content: left;
  }
}
