.ik-header {
  background: white;
  height: 64px;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .flex--v-center {
    height: 100%;
    align-items: center;
  }

  .flex--h-center {
    justify-content: center;
  }

  .flex {
    display: flex;
  }

  .user-avatar-wrapper {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
  }

  .header-icon-wrapper {
    width: auto;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.products-component {
      @media only screen and (max-width: 400px) {
        display: none;
      }
    }
  }

  .header-title-wrapper {
    width: 288px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .relative {
    position: relative;
    z-index: 5;

    &:hover {
      background-color: #3F435014;
    }
  }

  .header-icon {
    padding: 0 22px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);

    >span {
      cursor: pointer;
      background-color: #f5f5f5;
      color: $gray;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: relative;
      display: -webkit-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .login {
    margin: 0 10px;
    white-space: nowrap;
  }

  .user-avatar-wrapper {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 9px;
    max-width: 64px;
  }

  .avatar {
    background-color: #aaa;
    border-radius: 50%;
    color: rgba(255, 255, 255, .6);
    font-weight: 100;
    object-fit: cover;
  }

  &.bridge-header {
    border-bottom: 1px solid #E0E0E0;

    .header-icon {
      min-width: 45px;
      width: 45px;
      height: 100%;
      color: #000;

      &:hover {
        background-color: unset;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .ik-header .header-title-wrapper {
    width: 210px;
  }
}