h2 {
  font-size: 21px;
  line-height: 46px;
}

.expand {
  #welcome-container-showpaste {
    padding: 50px 50px 0 50px;
    flex-grow: 2;
  }
}

#welcome-container-showpaste {

  padding: 100px 0 0 160px;

  #paste_container {

    width: 60%;

    .show_paste_label {
      max-width: 550px;
    }

    .MuiTextField-root {
      margin-top: 10px;
      width: 100%;
    }

    .new_paste_box_description {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 18px;
      color: $gray;
    }

    .MuiPaper-root {
      margin-top: 30px;
      padding: 30px;

      div.paste_url_option {
        span {
          color: $gray;
          font-size: 14px;
        }
      }
    }

    a {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 21px;
    }

    .pasteMessage {
      width: 100%;
    }

    .show_paste_post_message {
      margin-top: 20px;

      a {
        color: #3f51b5;
        text-decoration: underline;
        font-size: inherit;
        font-weight: inherit;
      }
    }

    .icon-bubble-alert {
      color: #FB472E;
    }
  }
}

#root.expand {

  #paste_container {
    width: 100%;
  }

  .pasteContent {
    pre {
      height: auto;
    }
  }
}

@media only screen and (max-width: 735px) {
  #welcome-container-showpaste {
    padding: 15px;

    #paste_container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 350px) {
  #welcome-container-showpaste {
    padding: 10px 0 0 0;
  }
}

.override-time {
  background-color: unset !important;
  color: unset !important;
  max-width: unset !important;
  font-size: unset !important;
  border: unset !important;
  border-radius: unset !important;
  padding: unset !important;
}